:root {
  --blue: #3B4CCA;
  --darkblue: #172EDA;
  --yellow: #FFDE00;
  --darkyellow: #E0C613;
  --red: #FF0000;
  --darkred: #CC0000;
  --lightpurple: #dad5f2;
  --white: #ffffff;
}

body {
  background-color: var(--red);
}

li {
  padding: 1.5px;
}



.col {
  background-color: var(--red);
}

.col-10 {
  background-color: var(--red);

}

#pokemon-list  {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid var(--yellow) 10px;
  max-height: 500px;
  overflow: scroll;


}

.btn {
  width: 99%;
  text-transform:capitalize;
  font-size: 20px;
}
